*{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    
}
.menu{
    background-color: rgb(38, 38, 173);
    display: flex;
    justify-content: space-around;
    height: 30px;
    align-items: center;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    width: 100%;
}
body{
    background-color: cadetblue;
}
#camiseta1{
    width: 300px;
    height: 300px;
    padding: 0;
} 
#camiseta2{
    width: 300px;
    height: 300px;
    padding: 19px;
}
#camiseta3{
    width: 300px;
    height: 300px;
    padding: 19px;
}
#camiseta4{
    width: 300px;
    height: 300px;
    padding: 19px;
}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a:hover{
    color: rgb(255, 255, 255);
}

